<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio d'Abdellah Ennajari présentant des projets en IA et en science des données, compétences et expériences.">
    <meta name="keywords" content="portfolio, agence, entreprise, propre, société, corporate, créatif, galerie, rtl, moderne, photographie, vue, vuejs, responsive, sass">

    <!-- titre de l'onglet du navigateur -->
    <title>Portfolio d'Abdellah Ennajari</title>

    <!-- favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- polices -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Saira+Stencil+One&text=Nafie&display=swap">

    <!-- fichier css des bibliothèques -->
    <link rel="stylesheet" href="styles/libraries.min.css">

    <!-- fichier css bootstrap -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- fichier de style principal -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id="app">
      <div id="app-inner" ref="appRef"
        :class="[savedTheme, {'enable-focus-style': isAnyFocus}]"
        @click="isAnyFocus = false"
        @keyup.tab="isAnyFocus = true">

        <div class="circle-cursor circle-cursor-outer" ref="circleCursorOuter"></div>
        <div class="circle-cursor circle-cursor-inner" ref="circleCursorInner"></div>

        <!-- début du préchargeur -->
        <div class="preloader" ref="preloader">
          <div class="preloader-content">
            <div class="logo">
              <img src="assets/images/favicon.gif" alt="Votre Logo">
            </div>
            <div class="loading-bar">
              <span class="loading-bar-progress"></span>
            </div>
          </div>
        </div>
        <!-- fin du préchargeur -->

        <!-- début de l'en-tête -->
        <header class="hide-in-preloading" :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }">
          <div class="container">
            <!-- logo -->
            <div class="logo" title="Ennajari">
              <h1><a href="index.html">Ennajari</a></h1>
            </div>

            <!-- liens de navigation -->
            <nav :class="{'menu-open': isNavMenuOpen}" ref="headerNav">

              <!-- liens du menu de navigation -->
              <ul class="nav-links">
                <li v-for="link in navLinks" :key="link.url">
                  <a :href="link.url" @click="closeNavMenu">
                    {{ link.title.fr }}
                  </a>
                </li>
              </ul>

              <!-- contenu du menu sur les grands appareils (masqué sur mobile/tablette) -->
              <div class="desktop-menu-content" tabindex="-1">
                <div class="container">

                  <!-- à propos de nous -->
                  <div class="about-us">
                    <p>
                      Je suis passionné par l'intelligence artificielle et la technologie, toujours à la recherche de solutions innovantes et impactantes.
                    </p>
                    <h4 class="block-title">
                      Avec une solide formation en IA, informatique et mathématiques, je me spécialise dans le développement d'applications de pointe et la collaboration sur des projets innovants pour repousser les limites de la technologie.
                    </h4>
                  </div>

                  <!-- informations de contact -->
                  <ul class="contact-info row">
                    <!-- Infos Email -->
                    <li class="col-lg-4">
                      <h4 class="block-title">Email</h4>
                      <ul>
                        <li><a href="mailto:abdellahennajari2018@gmail.com">abdellahennajari2018@gmail.com</a></li>
                        <li><a href="mailto:abdellah.ennajari.23@ump.ac.ma">abdellah.ennajari.23@ump.ac.ma</a></li>
                      </ul>
                    </li>

                    <!-- Infos Adresse -->
                    <li class="col-lg-4">
                      <h4 class="block-title">Adresse</h4>
                      <ul>
                        <li>
                          Maroc
                        </li>
                      </ul>
                    </li>

                    <!-- Infos Téléphone -->
                    <li class="col-lg-4">
                      <h4 class="block-title">Téléphone</h4>
                      <ul>
                        <li><a href="tel:+212655798315">(+212) 655 798 315</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- icônes des options -->
            <ul class="options-icons">

              <!-- bouton de sélection de langue -->
              <li class="lang-switcher">
                <ul class="lang-switcher-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="#">Fr 🇫🇷</a>

                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="index.html">En 🇬🇧</a>
                      </li>
                      <li class="menu-item">
                        <a href="rtl-index.html">Fr 🇫🇷</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <!-- bouton de sélection de thème -->
              <li class="theme-switcher">
                <button :class="savedTheme" title="Changer de Mode" @click="changeAppTheme"></button>
              </li>

              <!-- bouton hamburger -->
              <li class="hamburger-btn" :class="{'open': isNavMenuOpen}">
                <button @click="toggleNavMenu"
                  title="Basculer le Menu Latéral"
                  aria-label="Basculer le Menu Latéral"
                  ref="navMenuToggleBtn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </li>
            </ul>
          </div>
        </header>
        <!-- fin de l'en-tête -->

        <!-- début de la page portfolio -->
        <div class="portfolio-page portfolio-section section page">
          <div class="container">
            <div class="section-content">

              <!-- éléments du portfolio -->
              <ul class="portfolio-items has-works" ref="portfolioItems">
                <li>
                  <!-- boîte de texte -->
                  <div class="text-box-block">
                    <span class="subtitle">
                      <a :href="'rtl-archive-portfolio.html?tax=cat&cat=' + getSinglePortfolioItem.category">{{ getSinglePortfolioItem.category }}</a>
                    </span>
                    <h2>{{ getSinglePortfolioItem.title.fr }}</h2>
                    <p>{{ getSinglePortfolioItem.desc.fr }}</p>
                    <ul class="work-tools">
                      <li v-for="tool in getSinglePortfolioItem.tools" :key="tool">
                        <a :href="'rtl-archive-portfolio.html?tax=tools&tools=' + tool">{{ tool }}</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- début de la liste des éléments -->
                <li class="portfolio-item"
                  v-for="screenshot in getSinglePortfolioItem.screenshots"
                  :key="screenshot.caption.fr">
                  <!-- href pointe vers l'image en taille réelle -->
                  <a class="glightbox" target="_blank" rel="noopener" data-gallery="gallery1"
                    :href="screenshot.url"
                    :data-glightbox="'title:' + screenshot.caption.fr">
                    <div class="item-img">
                      <!-- miniatures -->
                      <img :src="screenshot.url" :alt="screenshot.caption.fr">
                    </div>
                    <div class="item-details">
                      <h3 class="title">{{ screenshot.caption.fr }}</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- fin de la page portfolio -->

        <!-- début du pied de page -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- logo -->
                <div class="logo" title="Ennajari">
                  <h1><a href="index.html">Ennajari</a></h1>
                </div>
              </div>
              <div class="col-lg-6">
                &copy; {{ copyrightDate }} Tous droits réservés.
              </div>
            </div>
          </div>
        </footer>
        <!-- fin du pied de page -->

        <!-- bouton de retour en haut -->
        <button class="scroll-to-top" ref="scrollTopBtn"
          title="Retour en Haut"
          data-show-at="50"
          @click="scrollToTop">
          <svg width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
          </svg>
        </button>

        <!-- notifications toast -->
        <ul class="notifications-container hide-in-preloading">
          <transition-group name="notify">
            <li v-for="notify of notifications"
              :key="notify.id"
              :id="notify.id"
              :class="['notification', 'show', notify.className, notify.time && 'timer']"
            >
              {{ notify.msg }}
              <i class="fa fa-times link-hover" aria-hidden="true" @click="dismissNotify(notify.id)"></i>
              <span v-if="notify.time"
                class="disappearing-time"
                :style="{ 'animation-duration': notify.time + 'ms' }"></span>
            </li>
          </transition-group>
        </ul>

        <!-- chargement ajax -->
        <div class="ajax-loading hide-in-preloading" v-show="isAjaxLoading">
          <span></span>
        </div>
      </div>
    </div>

    <!-- fichier js des plugins -->
    <script src="scripts/plugins.min.js"></script>

    <!-- fichier de script principal -->
    <script src="scripts/main.min.js"></script>
  </body>
</html>
